{% extends "base.html" %}

{% block content %}
<main class="mdl-layout__content">
    <div class="mdl-grid">
        {% if count %}
            <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Model</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stats in results %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ stats.model }}</td>
                        <td>{{ stats.details_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'pagination.html' %}
        {% endif %}
    </div>
</main>
{% endblock %}